<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwei.androidtest">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- *************8 主界面 ************* -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- *************** 2017年10月 ******************** -->
        <!-- =========== 2017年10月 test01 ============ -->
        <activity android:name=".date_2017_10.Date201710Activity" />
        <activity
            android:name=".date_2017_10.test01.FirstActivity"
            android:label="This is FirstActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".date_2017_10.test01.SecondActivity"
            android:label="This is SecondActivity">
            <intent-filter>
                <action android:name="com.suwei.androidtest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.suwei.androidtest.MY_CATEGORY" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <!-- =========== 2017年10月 test02 ============== -->
        <activity android:name=".date_2017_10.test02.NormalActivity" />
        <activity
            android:name=".date_2017_10.test02.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".date_2017_10.test02.MainActivity" />
        <activity android:name=".date_2017_10.test01.ThirdActivity"></activity>
    </application>

</manifest>